/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INDEX.HTML */

/* LISTAS */

li::marker {
  content: "";
}

/* NAV */

nav {
  background-color: cornflowerblue;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px 0px 16px;
}

.greeting {
  border-left: solid 1px white;
  border-right: solid 1px white;
  padding: 16px 24px 16px 24px;
}

nav p {
  color: white;
}

button {
  color: cornflowerblue;
  padding: 4px;
  border-radius: 4px;
  border: none;
}

input {
  padding: 4px;
  border-radius: 4px;
  border: none;
}

.logo p {
  display: inline;
  font-size: 1.5rem;
}

.logo p.UCV-text {
  font-size: 1rem;
}

/* SECTION */

section {
  margin-top: 16px;
  padding: 0px 16px 0px 16px;
}

section img {
  height: 160px;
  margin-bottom: 8px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section ul {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 16px;
}

section li {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  padding: 12px;
  background-color: rgb(238, 244, 255);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

section li p {
  color: cornflowerblue;
}

section li a {
  text-decoration: none;
  color: cornflowerblue;
}

section li a:visited p{
  color: rgb(63, 93, 148)
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  background-color: cornflowerblue;
  padding: 16px;
}

/* PERFIL.HTML */

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-title {
  margin-bottom: 12px;
  color: orange;
}

.description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 12px;
}

.photo-container {
  min-width: 300px;
  max-width: 300px;
  border-radius: 150px 0px 0px 0px;
  margin-top: 20px;
  margin-right: 10px;
  overflow: hidden;
  margin-left: 12px;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  border: solid 1px black;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin-top: 20px;
  margin-right: 12px;
  min-width: 300px;
  max-width: 750px;
}

.mail-link {
  color: orange;
}

.mail-link:visited {
  color: red;
}

.qa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12px;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question p:first-child {
  margin-right: 12px;
}

.qa p {
  margin-bottom: 8px;
}

/* ANIMACIONES */

/* zoom y rotación */
@keyframes focused {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(3deg) scale(1.05);
    background-color: #99c5dd;
  }
}
section ul li:hover {
  animation: focused 0.5s;
  animation-fill-mode: forwards;
}

/* INDEX */

@media (max-width: 480px) {
  section ul {
    grid-template-columns: repeat(1, 200px);
    grid-gap: 16px;
  }
  section li {
    min-width: 100%;
  }
  nav ul {
    flex-direction: column;
  }
  nav li form {
    padding: 16px;
  }
  .greeting {
    margin: 4px;
    padding: 8px;
  }
  .logo {
    margin: 16px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  section ul {
    grid-template-columns: repeat(2, 200px);
    grid-gap: 16px;
  }
  section li {
    min-width: 100%;
  }
  nav ul {
    flex-direction: column;
  }
  nav li form {
    padding: 16px;
  }
  .greeting {
    margin: 4px;
    padding: 8px;
  }
  .logo {
    margin: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  section ul {
    grid-template-columns: repeat(3, 200px);
    grid-gap: 16px;
  }
  section li {
    min-width: 100%;
  }
}

/* PERFIL */

@media (max-width: 700px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin: 16px;
  }
}